doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/weather-icons.css')
    script(src='/javascripts/dist/weather-widget.js')
  body
    block content
